In [1]:
%matplotlib inline

import json
import pandas as pd
import numpy as np

In [2]:
all_matches = pd.read_csv('all_t20i_05-16.csv')
all_matches = all_matches.sort('date', ascending = False)
matches = all_matches.match_id.values

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

In [3]:
def f(i):
    return i['bat'], i['bowl'], i['o_u'], i['ovr'], i['r'], i['r_t'], i['x'], i['y'], i['z']

In [6]:
import os.path
failed_ids = []

for idx, match_id in enumerate(matches):
    if not os.path.exists('cleaned_data/%s_summary.csv'%match_id):
        #try:
        wicket_data = json.load(open('data/%s-pie-wickets.json'%(match_id)))
        df = pd.io.json.read_json('data/%s-wagon-inning-1.json'%(match_id), dtype=False)    
        df['inning'] = 1
        df['batting_team'] = wicket_data['t1']['n']
        df['bowling_team'] = wicket_data['t2']['n']

        df2 = pd.io.json.read_json('data/%s-wagon-inning-2.json'%(match_id), dtype=False)
        df2['inning'] = 2
        df2['batting_team'] = wicket_data['t2']['n']
        df2['bowling_team'] = wicket_data['t1']['n']

        df['batsman'], df['bowler'], df['ball_num'], df['ovr'], df['runs_batter'], df['runs_w_extras'], df['x'], df['y'], df['z'] = zip(*df.runs.apply(f))
        df2['batsman'], df2['bowler'], df2['ball_num'], df2['ovr'], df2['runs_batter'], df2['runs_w_extras'], df2['x'], df2['y'], df2['z'] = zip(*df2.runs.apply(f))

        for param in ['ball_num', 'ovr', 'runs_batter', 'runs_w_extras', 'x', 'y', 'z']:
            df[param] = df[param].astype(float)
            df2[param] = df2[param].astype(float)

        from collections import defaultdict
        dismissals = defaultdict(dict)

        for i in wicket_data['t1']['w']:
            dismissals[float(i['ovr'])] = {'inning': 1, 'how': i['how'], 'ovr': float(i['ovr']), 'batsman': i['out'], 'bowler': i['outby']}

        for i in wicket_data['t2']['w']:
            dismissals[float(i['ovr'])] = {'inning': 2, 'how': i['how'], 'ovr': float(i['ovr']), 'batsman': i['out'], 'bowler': i['outby']}

        def add_wickets(inning, ovr, batsman, extras, unique, dismissals = dismissals):
            #Note: a run-out on a no-ball or wide will be double-counted
            if ovr in dismissals and dismissals[ovr]['inning'] == inning:
                if unique == 'True':
                    return True, dismissals[ovr]['how'], dismissals[ovr]['batsman']
                else:
                    if dismissals[ovr]['how'] != 'run out':
                        if extras == 0:
                            return True, dismissals[ovr]['how'], dismissals[ovr]['batsman']
                        else:
                            return False, np.nan, np.nan
                    else:
                        return True, dismissals[ovr]['how'], dismissals[ovr]['batsman'] #think of a better way later
            return False, np.nan, np.nan

        val_count_1 = df.ovr.value_counts()
        val_count_2 = df2.ovr.value_counts()

        def get_unique_1(i):
            if val_count_1[i] == 1:
                return True
            return False

        def get_unique_2(i):
            if val_count_2[i] == 1:
                return True
            return False

        df['ovr_unique'] = df.ovr.apply(get_unique_1)
        df2['ovr_unique'] = df2.ovr.apply(get_unique_2)
        df['extras'] = df['runs_w_extras'] - df['runs_batter']
        df2['extras'] = df2['runs_w_extras'] - df2['runs_batter']
        df['wicket'], df['wicket_method'], df['who_out'] = zip(*df.apply(lambda row: add_wickets(row['inning'], row['ovr'], row['batsman'], row['extras'], row['ovr_unique']), axis=1))
        df2['wicket'], df2['wicket_method'], df2['who_out'] = zip(*df2.apply(lambda row: add_wickets(row['inning'], row['ovr'], row['batsman'], row['extras'], row['ovr_unique']), axis=1))
        df['match_id'] = match_id
        df2['match_id'] = match_id

        df['cumul_runs'] = df['runs_w_extras'].cumsum()
        df['cumul_wickets'] = df['wicket'].cumsum()
        df['cumul_balls'] = df['ovr'].apply(lambda x: 6*int(x) + int(10*x)%10)
        df2['cumul_runs'] = df2['runs_w_extras'].cumsum()
        df2['cumul_wickets'] = df2['wicket'].cumsum()
        df2['cumul_balls'] = df2['ovr'].apply(lambda x: 6*int(x) + int(10*x)%10)

        player_db = {}
        inn_1_batting_order = {}
        inn_2_batting_order = {}
        for idx__, d in enumerate(wicket_data['t1']['p']):
            player_db.update(d)
            inn_1_batting_order[d.keys()[0]] = idx__+1
        for idx__, d in enumerate(wicket_data['t2']['p']):
            player_db.update(d)
            inn_2_batting_order[d.keys()[0]] = idx__+1

        def get_name(i):
            return player_db.get(i, None)

        df['batsman_name'] = df['batsman'].apply(get_name)
        df['bowler_name'] = df['bowler'].apply(get_name)
        df['who_out'] = df['who_out'].apply(get_name)
        df['batting_order'] = df['batsman'].apply(inn_1_batting_order.get)

        df2['batsman_name'] = df2['batsman'].apply(get_name)
        df2['bowler_name'] = df2['bowler'].apply(get_name)
        df2['who_out'] = df2['who_out'].apply(get_name)
        df2['batting_order'] = df2['batsman'].apply(inn_2_batting_order.get)

        df = df.append(df2)    
        df = df.drop('runs', axis=1)
        df = df.reset_index(drop=True)

        try:
            with open('data/%s_ball_details.txt'%(match_id), 'r') as fil:
                a = eval(fil.read()[8:-2])
            l = []
            for i in a[0]['data']:
                temp = i.values()[0].split(',')
                l.append({'ball_speed': temp[3], 'landing_y': temp[4], 'landing_x': temp[5], 'bat_right_handed': temp[6],
                     'ended_x': temp[7], 'ended_y': temp[8]})
            df2 = pd.DataFrame(l)
            if len(df2) == len(df):
                df = df.join(df2)
                cols = ['inning', 'batting_team', 'bowling_team', 'batsman', 'bowler', 'batsman_name', 'batting_order',
                    'bowler_name', 'bat_right_handed', 'ovr', 'runs_batter', 'runs_w_extras', 'extras',
                    'x', 'y', 'z', 'landing_x', 'landing_y', 'ended_x', 'ended_y', 'ball_speed', 'cumul_runs',
                    'cumul_wickets', 'cumul_balls', 'wicket', 'wicket_method', 'who_out']
            else:
                print 'discrepancy', match_id
                cols = ['inning', 'batting_team', 'bowling_team', 'batsman', 'bowler', 'batsman_name', 'batting_order',
                'bowler_name', 'ovr', 'runs_batter', 'runs_w_extras', 'extras',
                'x', 'y', 'z', 'cumul_runs', 'cumul_wickets', 'cumul_balls', 'wicket', 'wicket_method', 'who_out']
        except:
            cols = ['inning', 'batting_team', 'bowling_team', 'batsman', 'bowler', 'batsman_name', 'batting_order',
                'bowler_name', 'ovr', 'runs_batter', 'runs_w_extras', 'extras',
                'x', 'y', 'z', 'cumul_runs', 'cumul_wickets', 'cumul_balls', 'wicket', 'wicket_method', 'who_out']
        df = df[cols]
        df.to_csv('cleaned_data/%s_summary.csv'%(match_id))
        print 'success', idx, len(matches)
        #except:
        #    print 'failed', idx, match_id, len(matches)
        #    failed_ids.append(int(match_id))
    else:
        print 'already exists', idx, len(matches)

success 0 556
success 1 556
already exists 2 556
already exists 3 556
already exists 4 556
already exists 5 556
already exists 6 556
already exists 7 556
already exists 8 556
already exists 9 556
already exists 10 556
already exists 11 556
already exists 12 556
already exists 13 556
already exists 14 556
already exists 15 556
already exists 16 556
already exists 17 556
already exists 18 556
already exists 19 556
already exists 20 556
already exists 21 556
already exists 22 556
already exists 23 556
already exists 24 556
already exists 25 556
already exists 26 556
already exists 27 556
already exists 28 556
already exists 29 556
already exists 30 556
already exists 31 556
already exists 32 556
already exists 33 556
already exists 34 556
already exists 35 556
already exists 36 556
already exists 37 556
already exists 38 556
already exists 39 556
already exists 40 556
already exists 41 556
already exists 42 556
already exists 43 556
already exists 44 556
already exists 45 556
already exists 46 556
already exists 47 556
already exists 48 556
already exists 49 556
already exists 50 556
already exists 51 556
already exists 52 556
already exists 53 556
already exists 54 556
already exists 55 556
already exists 56 556
already exists 57 556
already exists 58 556
already exists 59 556
already exists 60 556
already exists 61 556
already exists 62 556
already exists 63 556
already exists 64 556
already exists 65 556
already exists 66 556
already exists 67 556
already exists 68 556
already exists 69 556
already exists 70 556
already exists 71 556
already exists 72 556
already exists 73 556
already exists 74 556
already exists 75 556
already exists 76 556
already exists 77 556
already exists 78 556
already exists 79 556
already exists 80 556
already exists 81 556
already exists 82 556
already exists 83 556
already exists 84 556
already exists 85 556
already exists 86 556
already exists 87 556
already exists 88 556
already exists 89 556
already exists 90 556
already exists 91 556
already exists 92 556
already exists 93 556
already exists 94 556
already exists 95 556
already exists 96 556
already exists 97 556
already exists 98 556
already exists 99 556
already exists 100 556
already exists 101 556
already exists 102 556
already exists 103 556
already exists 104 556
already exists 105 556
already exists 106 556
already exists 107 556
already exists 108 556
already exists 109 556
already exists 110 556
already exists 111 556
already exists 112 556
already exists 113 556
already exists 114 556
already exists 115 556
already exists 116 556
already exists 117 556
already exists 118 556
already exists 119 556
already exists 120 556
already exists 121 556
already exists 122 556
already exists 123 556
already exists 124 556
already exists 125 556
already exists 126 556
already exists 127 556
already exists 128 556
already exists 129 556
already exists 130 556
already exists 131 556
already exists 132 556
already exists 133 556
already exists 134 556
already exists 135 556
already exists 136 556
already exists 137 556
already exists 138 556
already exists 139 556
already exists 140 556
already exists 141 556
already exists 142 556
already exists 143 556
already exists 144 556
already exists 145 556
already exists 146 556
already exists 147 556
already exists 148 556
already exists 149 556
already exists 150 556
already exists 151 556
already exists 152 556
already exists 153 556
already exists 154 556
already exists 155 556
already exists 156 556
already exists 157 556
already exists 158 556
already exists 159 556
already exists 160 556
already exists 161 556
already exists 162 556
already exists 163 556
already exists 164 556
already exists 165 556
already exists 166 556
already exists 167 556
already exists 168 556
already exists 169 556
already exists 170 556
already exists 171 556
already exists 172 556
already exists 173 556
already exists 174 556
already exists 175 556
already exists 176 556
already exists 177 556
already exists 178 556
already exists 179 556
already exists 180 556
already exists 181 556
already exists 182 556
already exists 183 556
already exists 184 556
already exists 185 556
already exists 186 556
already exists 187 556
already exists 188 556
already exists 189 556
already exists 190 556
already exists 191 556
already exists 192 556
already exists 193 556
already exists 194 556
already exists 195 556
already exists 196 556
already exists 197 556
already exists 198 556
already exists 199 556
already exists 200 556
already exists 201 556
already exists 202 556
already exists 203 556
already exists 204 556
already exists 205 556
already exists 206 556
already exists 207 556
already exists 208 556
already exists 209 556
already exists 210 556
already exists 211 556
already exists 212 556
already exists 213 556
already exists 214 556
already exists 215 556
already exists 216 556
already exists 217 556
already exists 218 556
already exists 219 556
already exists 220 556
already exists 221 556
already exists 222 556
already exists 223 556
already exists 224 556
already exists 225 556
already exists 226 556
already exists 227 556
already exists 228 556

ValueError: need more than 0 values to unpack

### List of matches that were not parsed

In [6]:
all_matches[all_matches.match_id.isin(failed_ids)]

,Unnamed: 0,team1_name,team2_name,team1_id,team2_id,ground_name,ground_id,match_id,date
326,326,Afghanistan,Netherlands,40,15,Sharjah,59392,660107,2013-11-15
8,8,Bangladesh,Zimbabwe,25,9,Khulna,56691,264065,2006-11-28